@property --text-color {
  syntax: '<color>';
  inherits: false;
  initial-value: orange;
}

/* 전역 변수 정의 */
/* :하나면 가상 클래스(슈도 클래스), ::는 가상요소(슈도 엘리먼트)*/
:root {
  /* 색깔 팔레트 */
  --white: #fff;
  --black: #000;
  --red: #f00;
  --green: #0f0;
  --blue: #00f;
  --orange: orange;
  --yellow: yellow;
  --light-blue: aqua;

  /* size */
  --default: 1rem;
  --small: 0.75rem;
  --medium: 0.875rem;
  --large: 1.125rem;

  /* 주요 색 */
  /* 주요 색상 */
  --primary-color: var(--orange);
  --secondary-color: var(--light-blue);
  --accent-color: var(--yellow);
  --border-color: var(--red);
}
.text-card1 {
  --bg-color: var(--green);
  --border-color: var(--red);
  h1 {
    background-color: var(--green, #2ecc71);
    /* #은 fallback(secondary없을 경우를 대비) */
  }
  p {
    border-width: 10px;
    border-style: solid;
    border-color: var(--border-color);
  }
}
.text-card2 {
  --bg-color: var(--blue);
  --border-color: var(--red);
  h1 {
    background-color: var(--green, #2ecc71);
  }
  p {
    border-width: 10px;
    border-style: solid;
    border-color: var(--border-color);
  }
}

/* .wrapper {
  button.default {
    font-size: var(--default);
  }
  button.small {
    font-size: var(--small);
  }
  button.medium {
    font-size: var(--medium);
  }
  button.large {
    font-size: var(--large);
  }
} */
.wrapper {
  button {
    font-size: var(--font-size);
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  button {
    font-size: var(--font-size, 1rem);
    background-color: var(--bg-color, #fff);
    color: var(--primary-color, #000);
  }

  button.close {
    --font-size: var(--default);
  }

  button.popup {
    --text-color: var(--blue);
  }

  button.info {
    --bg-color: var(--white);
  }
}

.container {
  color: var(--text-color);

  .parent {
    --text-color: blue;
    .child {
      color: var(--text-color);
    }
  }
}

.lion {
  color: red;
  border: 1px solid green;
  padding: 0.5em;
  .parent {
    border: inherit;
    padding: inherit;
    .child {
      color: black;
      border: 1px solid blue;
      border-color: blue;
    }
  }
}
