@import '/src/common/theme.css';

/* float 사용 */
.card {
  border: 1px solid green;
  background: var(--pastel-pink);

  .thumbnail {
    background: var(--pastel-yellow);
    /* float으로 인해 부모 요소인 thumbnail이 인식하지 못하는 높이를 포함하도록 BFC를 생성 */
    /* overflow: hidden; */
    /* display: flow-root; */
    width: 100%;
    float: left;

    img {
      float: right;
      width: 100px;
      vertical-align: middle;
      /* vertical-align: top; 이미지 아래쪽 여백을 없애기 위한 트릭 */
      /* display: block; 이미지 아래쪽 여백을 없애기 위한 트릭 */
    }
  }

  .subject {
    background: var(--pastel-blue);
  }
  .content {
    /* float의 효과를 해제하기 위해 clear 속성을 사용할 수 있다. */
    /* clear속성은 block성향을 가진 요소에만 사용 가능 */
    clear: both;
    background: var(--pastel-orange);
  }
}
