.case-01 {
  border: 1px solid currentColor;
  width: 200px;
  overflow: auto;
  /* 가로 크기를 width 속성이 아닌 논리 속성으로 지정 */
  inline-size: 400px;
  /* 세로 크기를 height 속성이 아닌 논리 속성으로 지정 */
  block-size: 100px;
  /* 논리 속성으로 padding 지정 */
  padding-inline: 10px;
  padding-block: 10px;

  /* 논리 속성으로 margin 지정 */
  margin-inline: 30px;
  margin-block: 50px;

  /* padding-left, padding-right 속성을 논리 속성으로 지정 */
  padding-inline-start: 20px;
  padding-inline-end: 50px;

  /* float: left를 논리 속성으로 지정 */
  inset-inline-start: 0;
}
