@import '/src/common/theme.css';
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

/* Flex 파헤치기 */
/* 플렉스 컨테이너 관련 */
.case-01 {
  display: flex;
  /* flex-direction: row;
  flex-wrap: nowrap; */
  /* flex-direction 속성과 flex-wrap 속성을 단축해서 지정할 때 */
  border: 1px solid red;
  /* padding: 10px; */
  inline-size: 622px;
  block-size: 522px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;

  [class*='item'] {
    /* margin-block: 10px; */
    border: 1px solid currentColor;
    background: var(--pastel-yellow);
    /* inline-size: 100px;
    block-size: 100px; */
    text-align: center;
    align-content: center;
    /* 기존에 세로 기준 가운데 정렬을 지원하지 않을 때 사용하던 트릭 */
    /* line-height: 100px; */
  }

  .item1 {
    /* inline-size: 200px; */
    font-size: 48px;
  }

  .item2 {
    font-size: 30px;
  }
}

.case-02 {
  border: 1px solid green;
  width: 502px;
  inline-size: 502px;
  display: flex;
  flex-flow: row nowrap;

  [class^='item'] {
    border: 1px solid currentColor;
    /* width: 100px;
    inline-size: 100px;
    height: 100px;
    block-size: 100px; */
    text-align: center;
    align-content: center;
    flex-basis: 0;
    width: 200px;
    inline-size: 300px;

    flex-grow: 1;
    &:nth-child(even) {
      order: -1;
      flex-grow: 2;
    }
  }
}
