/* font-variant 속성으로 대문자로 변경할수 있지만 크기가 작아짐 */
.member-service {
  background-color: yellow;
  /* font-variant: small-caps; */
  text-transform: uppercase;
}

/* 태그 선택자 */
/* 웹브라우저 스타일(밑줄) 재정의 */
/* 웹브라우저 링크 스타이 (색상)을 재정의 (상속) */
.member-service {
  a {
    text-decoration: none;
    color: inherit;
  }
  a::before {
    content: ' : ';
  }

  /* a요소 보다 우선순위 */
  a:first-child::before {
    content: '';
  }
}
