@import '/src/common/mini-reset.css';

:root {
  --green: #22be61;
  --silver: #9b9a90;

  --spacing-10: 0.625rem;
  --spacing-20: 1.25rem;
  --spacing-60: 3.75rem;
}

body {
  margin: 50px;
}

h1 {
  margin-bottom: 50px;
}

.notification {
  --text-color: var(--green);
  border-radius: 0.25rem;
  background: url(/src/assets/svg/pot.svg) no-repeat var(--spacing-20) 50%;
  padding: var(--spacing-20) var(--spacing-20) var(--spacing-20)
    var(--spacing-60);
  box-shadow: 0px 0px 2px 0px rgba(114, 119, 124, 0.5);
  position: relative;

  .notification-subject {
    color: var(--text-color);
  }
  .notification-time {
    color: var(--text-color);
    position: absolute;
    top: var(--spacing-20);
    right: var(--spacing-20);
    align-items: flex-end;
  }
  .notification-content {
    color: var(--silver);
  }
}
