@import '/src/ui/components/avatar/avatar.css';

/* 아바타 리스트 */
/* case 01 - inline-block */
.case-01 {
  --spacing-10: 0.625rem;

  margin: 20px;
  width: 360px;
  border: 2px solid red;
  border-radius: 4px;

  ul {
    font-size: 0;
    padding: var(--spacing-10);
    margin: 0 auto;
  }
  li {
    display: inline-block;
    font-size: 1rem;
    margin: var(--spacing-10);
  }
}
/* case 02 - float */
.case-02 {
  --spacing-10: 0.625rem;

  margin: 20px;
  width: 360px;
  border: 2px solid red;
  border-radius: 4px;

  ul {
    font-size: 0;
    padding: var(--spacing-10);
    margin: 0 auto;
    display: flow-root;
  }
  li {
    float: left;
    font-size: 1rem;
    margin: var(--spacing-10);
  }
}
/* case 03 - flex */
/* case 04 - grid */
