@import '/src/common/theme.css';
@import '/src/common/best-reset.css';
/* 반응형 레이아웃 */

/* 헤더 */
.header {
  background: var(--pastel-coral);
  height: 10vh;
}
/* 네비게이션 */
.navigation {
  background: var(--pastel-green);
  height: 15vh;
  @media (min-width: 64rem) {
    width: 30%;
    float: left;
    height: 80vh;
  }
}

.nav-main-aside-wrapper {
  @media (min-width: 64rem) {
    display: flow-root;
  }
}
/* 메인 + 사이드바 */
.content-wrapper {
  @media (min-width: 48rem) {
    display: flow-root;
  }
}
/* 메인 */
.content {
  background: var(--pastel-aqua);
  height: 40vh;
  @media (min-width: 48rem) {
    width: 50%;
    height: 65vh;
    float: left;
  }
  @media (min-width: 64rem) {
    width: 60%;
    float: left;
    height: 80vh;
  }
}
/* 사이드바 */
.sidebar {
  background: var(--pastel-yellow);
  height: 25vh;
  @media (min-width: 48rem) {
    width: 50%;
    float: right;
    height: 65vh;
  }
  @media (min-width: 64rem) {
    width: 40%;
    float: left;
    height: 80vh;
  }
}
/* 푸터 */
.footer {
  background: var(--pastel-lavender);
  height: 10vh;
}
