@import '/src/common/modern-reset.css';
@import '/src/common/theme.css';

/* 플렉스를 활용한 반응형 레이아웃 */
.container {
  @media (min-width: 48rem) {
    display: flex;
    flex-flow: row wrap;

    .wrapper {
      display: contents;
    }

    .header,
    .navigation,
    .footer {
      width: 100%;
      inline-size: 100%;
    }
    .content,
    .sidebar {
      width: 100%;
      inline-size: 50%;
      height: 65vh;
    }
  }
  @media (min-width: 64rem) {
    .navigation,
    .sidebar {
      width: 100%;
      inline-size: 25%;
      height: 80vh;
    }
    .content {
      height: 80vh;
    }
  }
}
/* 헤더 */
.header {
  background: var(--pastel-coral);
  height: 10vh;
}
/* 내비게이션 */
.navigation {
  background: var(--pastel-green);
  height: 15vh;
}
/* 메인과 사이드바 그룹핑 */
/* .content-wrapper {
  @media (min-width: 48rem) {
    display: flex;
  }
  .content,
  .sidebar {
    flex: 1 0 0;
    block-size: 65vh;
  }
} */
/* 메인 콘텐츠 */
.content {
  background: var(--pastel-aqua);
  height: 40vh;
}

/* 사이드 바 */
.sidebar {
  background: var(--pastel-yellow);
  height: 25vh;
}

/* 푸터 */
.footer {
  background: var(--pastel-lavender);
  height: 10vh;
}
