@import '/src/common/modern-reset.css';
@import '/src/common/a11y.css';

/* 아바타 컴포넌트 */
/* 인터렉션이 없는 img 컴포넌트 */
.img-avatar {
  --size: 4rem;
  --radius: 50%;
  --state-active: #4cfe88;
  --state: #dbdbdb;
  --state-border: #fff;

  width: var(--size);
  position: relative;

  img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: var(--radius);
  }

  .state {
    width: 25%;
    aspect-ratio: 1/1;
    border-radius: var(--radius);
    background-color: var(--state);
    position: absolute;
    right: 0;
    bottom: 0;
    border: 2px solid var(--state-border);

    &.is-active {
      background-color: var(--state-active);
    }
  }
}
/* 인터렉션이 있는 btn 컴포넌트 */
.btn-avatar {
  --size: 4rem;
  --radius: 50%;
  --state-active: #4cfe88;
  --state: #dbdbdb;
  --state-border: #fff;
  /* 투명 */
  background: none;
  border: none;
  padding: none;

  position: relative;

  img {
    width: var(--size);
    aspect-ratio: 1/1;
    border-radius: var(--radius);
  }

  &::after {
    content: '';
    position: absolute; /* BFC: 독립된 블럭*/
    width: 25%;
    aspect-ratio: 1/1;
    border-radius: var(--radius);
    background-color: var(--state);
    right: 0;
    bottom: 0;
    border: 2px solid var(--state-border);
  }
  &.is-active::after {
    background-color: var(--state-active);
  }
}
